/* Estilização para o body */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ededed; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  flex-direction: column; 
}


#header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

.title {
  font-size: 24px;
  color: #333;
  margin-top: 10px;
}

#main-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 400px; /
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.radio-group {
  width: 100%;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

label {
  font-size: 16px;
  color: #555;
}


#submit-btn {
  width: 100%;
  padding: 14px;
  background-color: #F00000;
  color: white;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

#submit-btn:hover {
  background-color: #c0392b; 
}


@media (max-width: 600px) {
  #main-form {
    width: 90%;
  }

  .input-field,
  #submit-btn {
    max-width: 100%;
  }
}
