.logo {
    width: 85px;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 6px;
}

.active {
    background-color: #D9D9D9;
    
    
}

.nav-item {
    padding-top: 5px;
    list-style: none;
}

.nav-link {
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.nav-link:hover{
    background-color: #D9D9D9;
}

.card {
    border-radius: 10px;
}

canvas {
    max-height: 400px;
}