body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

.date-container {
  font-size: 1.2rem;
}

main {
  padding: 2rem;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.date-filter {
  display: flex;
  align-items: center;
}

.date-filter label {
  margin-right: 0.5rem;
}

.date-filter input {
  margin-right: 1rem;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover{
  background-color: #F00000;
}

.menu-button:hover {
  background-color: #F00000;
}

.logo {
  width: 85px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 6px;
}

.active {
background-color: #D9D9D9;

}

.nav-item {
padding-top: 5px;
list-style: none;
}

.nav-link {
align-items: center;
padding: 10px;
border-radius: 5px;
}

.nav-link:hover{
background-color: #D9D9D9;
}

.adjust-balance {
  margin-bottom: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
}

.chart {
  width: 100%;
  height: 200px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}
